<!--
    set up your page

    button to initiate the websocket connection
    span to show what messages we're getting from the server
    button to trigger the send of whatever is in the text field
    -->
<input type="button" value="Make Connection" id="connect">
<br>
<span id="msg"></span>
<br>
<input type="button" value="send test message" id="sendmsg">
<input type="text" id="userMessage">

<script type="text/javascript" src="/js/client.js"></script>