<div class="container">
    <div id="row">
        <div class="col-xs-4">
            <!-- Game Lobby and Start Button -->
            <span>This is the Player List</span>
            <ul id="players">
                <li>Player_1</li>
                <!-- Players Go Here - append <li> -->
            </ul>
        </div>
        <div class="col-xs-8">
            <!-- Start Button -->
            <div class="row">
                <button id="startGame" class="btn">Start Game</button>
            </div>
            <!-- Round Result and Timer -->
            <div class="row">
                <span id="resultText">Waiting for game to start...</span>
                <br>
                <span id="timeLeft">Time Left: </span>
            </div>
            <!-- Game Row with Q and Answers -->
            <div class="row">
                <br>
                <span id="question">Question Text Here</span>
                <br>
                <button id="ansA" class="answer" value="A">A</button>
                <br>
                <button id="ansB" class="answer" value="B">B</button>
                <br>
                <button id="ansC" class="answer" value="C">C</button>
                <br>
                <button id="ansD" class="answer" value="D">D</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/client.js"></script>