<div class="container">
    <div id="row">
        <div class="col-xs-3">
            <h1>This is the Player List</h1>
            <ul id="players">
                <li>Player_1</li>
                <!-- PLayers Go Here - append <li> -->
            </ul>
        </div>
        <div class="col-xs-9">
            <span id="question">Question Text Here</span>
            <button id="ansA" value="A">A</button>
            <button id="ansB" value="B">B</button>
            <button id="ansC" value="C">C</button>
            <button id="ansD" value="D">D</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/client.js"></script>