<h1>Waiting for players...</h1>
<div id="players">Player List</div>
<br>
<h2 id="question">This is a question</h2>
<span id="answerA">Answer A</span>
<span id="answerB">Answer B</span>
<span id="answerC">Answer C</span>
<span id="answerD">Answer D</span>