<h2 class="page-header">Dashboard</h2>
<p> Welcome to your dashboard</p>

<br>
<input type="button" value="create new room" id="newRoom">
<br>
<input type="text" id="roomCode">
<input type="button" value="join room" id="joinRoom">


<script type="text/javascript" src="/js/client.js"></script>