<h2 class="page-header">Dashboard</h2>
<<<<<<< HEAD
<p> Welcome to your dashboard</p>

<br>
<input type="button" value="create new room" id="newRoom">
<br>
<input type="text" id="roomCode">
<input type="button" value="join room" id="joinRoom">


<script type="text/javascript" src="/js/client.js"></script>
=======
<p> Welcome to Kerfuffle where everything's made up and the points don't matter!</p>
>>>>>>> 9c31df9984b4514383e9537825a82b3ba6c88f41
