<h2 class="page-header">Dashboard</h2>

<p> Welcome to Kerfuffle where everything's made up and the points don't matter!</p>

<form action="/create" method="post">
    <input type="submit" name="create" class="btn-link" value="Create Room">
</form>

<form>
    <input type="text" name="room" id="joinRoom">
    <input type="submit" name="join" class="btn-link" value="Join Room">
</form>