{{!-- <h2 class="page-header">Dashboard</h2> --}}

<p class="quote"> Welcome to Kerfuffle where everything's made up and the points don't matter!</p>

{{!-- <form action="/rooms/new" method="post">
    <input type="submit" name="create" class="btn-link" value="Create Room">
</form>

<input type="text" name="room" id="joinRoom">
<input type="submit" id="joinPost" class="btn-link" value="Join Room">

<script type="text/javascript" src="/js/connect.js"></script> --}}

<div class="row">
    <div class="col-xs-6">
        <form action="/rooms/new" method="post">
            <input type="submit" name="create" class="btn-link" value="Create Room">
        </form>
    </div>
    <div class="col-xs-6">
        <input type="text" name="room" id="joinRoom" placeholder="Lobby Code">
        <input type="submit" id="joinPost" class="btn-link" value="Join Room">
        <script type="text/javascript" src="/js/connect.js"></script>
    </div>
</div>