/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("test.jpeg");
    color: #f0ead6;

}

button {
    color: black;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

ul#players {
    padding: initial;
}

.nav {
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
}


#question, .answer {
    display: block;
}

.hide-this {
    display: none;
}

h4 {
    text-decoration: underline;
    font-weight: bold;
}

.quote {
    font-size: 18px;
    text-align: center;
    color: #f0ead6;
    font-family: 'Quantico', sans-serif;
    margin-top: 30px;
    margin-bottom: 80px;    
}

.well-game-left {
    font-family: 'Quantico', sans-serif;
    color: #23527c;
    margin-top: 30px;
}

.well-game-right {
    font-family: 'Quantico', sans-serif;
    color: #23527c;
    margin-top: 30px;
    font-size: 16px;
}

.bg-info {
    font-size: 17px;
    font-weight: bold;
}

.btn-game {
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
    color: #23527c;
}

.btn-game:hover {
    background-color: #99e4f8
}

.btn-game:active {
    background-color: #99e4f8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.answer:hover {
    background-color: #99e4f8;
}

.answer:active {
    background-color: #99e4f8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.answer:focus {     
    background-color: #31b0d5;    
}

#joinRoom {
    width: 240px;
    text-align: center;
    color: #23527c;
}

#login {
    color: #23527c ;
}
>>>>>>> 43604ce90f3288c518a1b66105665111a69c97ea


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #f0ead6;
    font-family: 'Quantico', sans-serif;
    font-size: 40px
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.page-header {
    margin-top: 0;
    color: #f0ead6;
}

footer {
    margin-top: 40px;
}

